@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');


:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}


.body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 5px;
}

.right {
    width: 75vw;
    position: relative;
}

.library {
    min-height: 70vh;
    position: relative;
}


.home ul li {
    list-style: none;
    width: 20px;
    display: flex;
    gap: 12px;
    padding-top: 20px;
    font-weight: bold;
}

.heading {
    width: 200px;
    display: flex;
    gap: 12px;
    padding-top: 3px;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 27px;
}


.footer {
    display: flex;
    color: grey;
    font-size: 7px;
    gap: 8px;
    position: absolute;
    bottom: 5px;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    height: 70px;
}

.header>* {
    padding: 15px;
}

.nav img:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.close {
    display: none;
}

.spotifyPlaylists {
    padding: 15px;
}

.card {
    width: 200px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #222221;
    position: relative;
    transition: all 0.9s;
}

.card:hover{
    background-color: rgb(83, 83, 83);
    cursor: pointer;
    --a: 1;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card .play img {
    width: 50px;
}

.play {
    bottom: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    opacity: var(--a);
    transition: all 1.5s ease-out;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    background-color: #c6c5c6;
    width: 70vw;
    filter: invert(1);
    border-radius: 10px;
    min-height: 30px;
    z-index: 1;
}

.cardContainer {
    margin: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
}

.card a {
    color: white;
}

.buttons>* {
    margin: 0 10px;
}

.signupbtn {
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 16px;
    color: white;
}

.loginbtn {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 30px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 16px;
}



.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.songList {
    height: 500px;
    overflow: auto;
    margin-bottom: 40px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    cursor: pointer;
    border: 1px solid white;
    margin: 15px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
}

.songList .info {
    width: 155px;
    font-size: 12px;
}

.info div {
    word-break: break-all;
}

.songbuttons img {
    cursor: pointer;
    width: 20px;
}


.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span {
    width: 75px;
    font-size: 15px;
    padding: 10px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 6px 0px
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: black;
    position: relative;
    bottom: 3px;
    left: 0%;
    transition: left 0.5s;
}


.songinfo {
    color: black;
    padding: 0 12px;
    width: 330px;
    align-self: center;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}

.timevolume {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 350px;
        height: 95%;
    }

    .close {
        display: block;
    }

    .left .close {
        position: absolute;
        right: 25px;
        top: 25px;
    }

    .left .close img {
        width: 40px;
    }

    .right {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .library {
        height: 70vh;
    }

    .cardContainer {
        justify-content: center;
        margin: 10px 0;
    }

    .card {
        width: 40vw;
    }

    .playbar {
        width: 90vw;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .songtime {
        width: auto;
        font-size: 10px;
        padding: 20px 10px;
    }

    .songbuttons {
        gap: 20px;
    }

    .songinfo {
        width: auto;
        font-size: 10px;
        padding: 12px 12px
    }

    .timevolume{
        flex-direction: column;
    }

    .seekbar {
        width: 90%;
    }

    .hamburger {
        display: block;
    }

    .cardContainer{
        max-height: 50vh;
    }
}

@media (max-width: 500px) {
    .card {
        width: auto;
    }

    .header>*{
        padding: 3px;
    }

    .buttons>*{
        margin: 0 5px;
    }
}